<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Redirection to HTTPS:
  RewriteCond %{HTTPS} !on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  
  # Disables content negotiation (choosing the right file in ambiguous cases)
  Options -Multiviews

  # Enable rewriting rules
  RewriteEngine on

  # CASE 1: FILES 
  # =============

  # The next three lines define 3 options (ORed, that is, only true)
  # Is a regular file, OR
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  # Is a symbolic link, OR
  RewriteCond %{REQUEST_FILENAME} -l [OR]
  # Is a directory
  RewriteCond %{REQUEST_FILENAME} -d
  # If any of the above are true, rewrite:
  # ^ = start of line; .* = match any character, 0 or more times; $ = end of line
  # - = no substitution
  # NC = no case matching
  # L = do not match any more rules
  RewriteRule ^.*$ - [NC,L]

  # CASE 2: Subpaths (SPA)
  # ======================

  # ^ = start of line; () = matching group; .* = match any character, 0 or more times
  # Rewrite everything to /index.html
  # NC = no case matching
  # L = do not match any more rules
  RewriteRule ^(.*) /baby-app/index.html [NC,L]
</IfModule>

# Disable browser caching for all files that don't get a hash string by Angular.
<FilesMatch "^(?!.*\.([0-9a-z]{20})\.).*$">

  <IfModule mod_headers.c>
    FileETag None
    Header unset ETag
    Header unset Pragma
    Header unset Cache-Control
    Header unset Last-Modified
    Header set Pragma "no-cache"
    Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    Header set Expires "Mon, 10 Apr 1972 00:00:00 GMT"
  </IfModule>

</FilesMatch>
